@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0px;
}
.container {
  display: flex;
  width: 90vw;
}
.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 0.5rem;
  position: relative;
  margin: 8px;
  cursor: pointer;
  flex: 0.5;
}

.panel h5 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
}

.panel.active {
  flex: 5;
}

/* This hides the last two panels so that
it doesn't look too squished. */
@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
  .panel:nth-last-of-type(4),
  .panel:nth-last-of-type(5) {
    display: none;
  }
}
